/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 40px;
  xpadding-bottom: 10px;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}

.form-login {
  max-width: 330px;
  padding: 0px 15px 5px 15px;
  margin: 0 auto;
}

.form-login .form-login-heading {
  margin-bottom: 10px;
}

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="password"] {
  margin-top:5px;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loading-bar .bar {
  background: #954121;
}


/*ng-flow image upload util*/
.thumbnail {
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: normal;
  max-width: 410px;
  max-height: 310px;
}
.thumbnail img {
  max-width: 400px;
  max-height: 300px;
}

.transfer-box {
  margin-bottom: 5px;
}
.transfer-box .progress {
  margin-bottom: 0;
}

.thumbnail {
  max-width: 210px;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  word-break: normal;
}
.thumbnail img {
  max-width: 200px;
  max-height: 150px;
}

.gallery-box {
  width: 200px;
  padding: 5px;
  margin: 7px;
  float: left;
  min-height: 200px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.gallery-box .progress {
  margin-bottom: 0;
}
.gallery-box .thumbnail {
  height: 188px;
  width: 188px;
}
.gallery-box .title {
  height: 22px;
  overflow: hidden;
  display: block;
}


/*images loaded styles*/
span.is-loading, span.is-broken {
  height: 140px;
  min-width: 100px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
}

span img {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

span.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}

span.is-broken {
  background-image: url('http://desandro.github.io/imagesloaded/assets/broken.png');
  background-color: #be3730;
  width: 120px;
}

span.is-loading img,
span.is-broken img {
  opacity: 0;
  max-height: 200px;
  max-width: 200px;
}

span.is-loaded img{
  max-height: 200px;
  max-width: 200px;
}
