<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>LOGIN</h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i> Login with your email and password below
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">email</label>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.loginData.userName" required
                       autofocus>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">password</label>
              <div class="col-md-4">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.loginData.password"
                       required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-4">
                <label>
                  <input type="checkbox" data-ng-model="vm.loginData.useRefreshTokens"><strong> Remember me</strong>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-4">
              <spinner-button text="Login" spinnertext="Logging in...." buttonclass="btn-md btn-info"
                              click="vm.login()"></spinner-button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-4 note note-danger note-bordered clearfix" data-ng-hide="vm.message == ''">
                {{vm.message}}
              </div>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>

  </div>
</div>
